body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.topo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 26px;
}

.icone {
  position: absolute;
  left: 20px;
  width: 22px;
}

.mapa-img {
  width: 90%;
  border-radius: 15px;
}

.info {
  background-color: #111;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  line-height: 1.5;
}

.preco {
  background-color: #ffc400;
  color: #000;
  padding: 5px 12px;
  border-radius: 10px;
  float: right;
  font-weight: bold;
}

.rodape {
  margin-bottom: 25px;
  font-weight: 500;
  color: #ffc400;
}
